<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<title>Dota2</title>
</head>
<body>
	<div id="app"></div>
	<% if (process.env.NODE_ENV === 'production') { %>
		<script src="https://cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/vuex/2.2.1/vuex.min.js"></script>
		<script src="https://cdn.bootcss.com/vue-router/2.3.0/vue-router.min.js"></script>
	<% } %>
</body>
</html>
